extends layout

block content
  h1 My Store
  p Categories:

  if items
    each item in items
      .item
          a(href='https://www.google.com')
            h2.name= item.name
            h3.description= item.description
  else
    h2= "there's no items here"

