doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
        ul
            li
                a(href="/categories") Categories
            li
                a(href="/items") Items
            li
                a(href="/new-category") New Category
            li
                a(href="/new-item") New Item
    block content
