doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
        h1 Inventory
        ul
            li
                a(href="/categories") Categories
            li
                a(href="/categories/new-category") New Category
            li
                a(href="/items") Items
            li
                a(href="/items/new-item") New Item
        a(href="/user/login") Login
        a(href="/user/logout") Logout
    block content
