extends ../layout

block content
    h1 All Categories:
    if allCategories.length <= 0
        p there's no categories.
    else
        each category in allCategories
            .category-container
                a(href=`categories/${category.name}`)
                    h1=category.name
                p= category.description


